body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
}

.navbar-nav li {
    margin-left: 20px;
}

.hero-section {
    background-color: #444;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.section {
    padding: 20px;
    text-align: center;
}
.section ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;            /* Elimina el padding por defecto */
}

.section ul li {
    margin: 15px 0;         /* Añade un pequeño margen para separar los elementos */
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-content p {
    margin: 0 20px;
}
.footer-content a {
    color: #fff;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

.portfolio-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.portfolio-item {
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
    text-align: center;
}
.two-columns {
    display: flex;
    justify-content: space-between;
}

.section {
    flex: 1;
    margin: 10px;
}

.section h2 {
    text-align: center;
}